---
layout: default 
---




<div class="blog_posts mdl-grid">
    {% for post in site.posts %}
    
    {% if post.image  == "" or post.image == nil %}

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col  mdl-cell--12-col-phone mdl-cell--12-col-tablet">
        <div class="mdl-card__title title-no-picture mdl-color-text--grey-50">
            <h3 class="quote"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h3>

        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            {{post.summary}}
        </div>
        <div>
            <div class="mdl-card__supporting-text card-meta mdl-color-text--grey-600">

                <strong>{{post.author}}</strong>
                <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
        </div>
    </div>

    {% else %}

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col  mdl-cell--12-col-phone mdl-cell--12-col-tablet">
        <div class="mdl-card__media" style="background: url( {{post.image}}) center/cover; ">
            <a class=" mdl-card__supporting-text meta mdl-color-text--grey-600" href="{{ post.url | prepend: site.baseurl }} ">
                <h3 class="mdl-card__title-text mdl-color-text--grey-50">{{post.title}}!</h2>
            </a>

        </div>
        <div class="mdl-card__supporting-text">

            <p> {{ post.summary }}
            </p>
        </div>


        <div class="mdl-card__supporting-text mdl-card--border card-meta mdl-color-text--grey-600">
            <div>
                <strong>{{post.author}}</strong>

                <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
        </div>

    </div>
    {% endif %} {% endfor %}
</div>