<footer class="mdl-mini-footer ">
    <div class="mdl-mini-footer__left-section ">
        <div class="me">Tuncay Ali Karpuzoglu</div>
        <div class="disclaimer">created with <span class="heart">♥</span> and the use of <a href="https://getmdl.io">Material Design Lite</a></div>
    </div>
    <div class="mdl-mini-footer__right-section ">
        <ul class="mdl-mini-footer__link-list ">
            <li><a href="# ">LinkedIn</a></li>
            <li>
                <a href="# ">
                    <img src="GitHub-Mark-32px.png" alt="Github">
                </a>
            </li>
        </ul>
    </div>
</footer>